 .center {
  display: flex;
  justify-content: center;
}

.level {
  display: flex;
  align-self: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
} */

.grey {
  background-color: grey;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.container-div {
  display: flex;

}
.left {
  flex: .5;
}

.right {
  flex: .5;
}

.middle {
  flex: 1;
}

.size {
  height:auto;
  width: 45%;
}